@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-color: #072227;
  --secondary-color: #f9ec85;
  --light: #f9fafc;
  --border-color: #ececec;
  --white: #fff;
  --gray:#a3a3a3;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "Nunito", sans-serif;
}
